// http://eslint.org/docs/configuring/
{
  "globals": {
    "console": true,
    "module": true
  },
  "env": {
    "amd": true,
    "mocha": true,
    "jasmine": true,
  },
  "rules": {
    "no-console": false,
    "semi": 2,
    "quotes": "single",
    "key-spacing": [2, {
      "beforeColon": false,
      "afterColon": true
    }]
  },
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  }
}