
.contents {
  position :relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    color: red;
    left: 20px;
    top: 0;
  }

  20% {
    color: green;
    left: 0;
    top: 50px;
  }

  60% {
    color: blue;
    left: 20px;
    top: 100px;
  }

  80% {
    color: yellow;
    left: 40px;
    top: 50px;
  }

  100% {
    color: red;
    left: 20px;
    top: 0;
  }
}
