{
    "globals": {
        "import": true,
        "from": true,
        "element": true,
        "browser": true,
        "expect": true,
        "by": true
    },
    "env": {
        "mocha": true,
        "browser": true
    },
    "rules": {
        "semi": 2,
        "quotes": "single",
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }]
    },
    "ecmaFeatures": {
        "arrowFunctions": true,
        "blockBindings": true,
        "forOf": true,
        "jsx": true
    }
}