{
    "globals": {
    },
    "env": {
        "node": true,
        "amd": true,
    },
    "rules": {
        "semi": 2,
        "quotes": "single",
        "key-spacing": [2, { "beforeColon": false, "afterColon": true }]
    }
}